@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .home .slide-text .txt-home{
    font-size: 60px;
  }
  .home #home-primary .slide-text{
    width: 635px;
  }
  .home .slide-text{
    width: 55%;
  }
}
