@media only screen and (min-width: 0px) and (max-width: 770px) {
  body{
    min-width: 600px;
     -webkit-text-size-adjust: none;
  }
  #content, #home-primary, .page-template-page-templateshomepage-php #content{
    background: #fff;
  }
   #content.contactPage{
     background: transparent;
   }
  #services .service{
    width: 100%;
    height: auto!important;
    float: left;
  }
  
  #header-primary {
    width: 55%;
    padding: 0 5%;
    float: left;
  }
  #services .service h3{
    font-size: 40px;
  }
  #services .service.service-3 p.line-1, #services .service.service-3 p.line-2, #services .service .pad p{
    font-size: 20px;
  }
 
  body #home-primary{
   
    background-position: right -65px!important;
    &.homePage{
      padding-top:0;
    }
  }
  #content, #home-primary, .page-template-page-templateshomepage-php #content{
    padding-top:90px;
  }
  #services .service.hasImg{
     img{
      width: 100%;
    }
  }
  #services .service.hasImg.normal{
    display: none;
   
  }
  #services .service.hasImg.mobile{
    display: block;
    
  }
  .simple-menu{
    margin: 41px 0 0 0;
  }
  .single-portfolio-detail{
    width: 92%;
  }
  .home #home-primary .slide-text{
    width: 80%;
    padding: 9% 8% 23%;
  }
  .home .slide-text .txt-home{
    font-size: 55px;
    line-height: 47px;
  }
  .home .slide-text .workfor .txt{
    font-size: 29px;
  }
  .contactPage{
    #primary.content-area{
      width: 90%;
    }
    #sidebar{
      padding: 5.5% 5%; 
    }
  }
  #services .service.mobile{
    display: block;
    background: #fff;
  }
  #services .service.normal{
    display: none;
  }
  .contactPage #sidebar  {
    overflow: hidden;
  }
  .wpcf7-validation-errors{
   font-size: 11px;
    color: red; 
    line-height: 11px;
    padding-top: 10px;
  }
  #header-secondary{
    min-width: 510px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  #header-secondary{
    width: 87%;
  }
  .simple-menu{
    margin-top: 45px;
  }
}


body.mobile{
  #sidebar .contactDetail .rowSocial ul li a{
    width: 49px;
    height: 49px;
    
    &.linkv{
      background: url(../assets/images/ab-linkv.png) no-repeat;
      &:hover{
        background: url(../assets/images/ab-linkv.png) no-repeat;  
      }  
    }
    &.linkbe{
      background: url(../assets/images/ab-linkbe.png) no-repeat;
      &:hover{
        background: url(../assets/images/ab-linkbe.png) no-repeat;
      }
    } 
    &.linkin{
      background: url(../assets/images/ab-linkin.png) no-repeat;
       &:hover{
        background: url(../assets/images/ab-linkin.png) no-repeat;
      }
    } 
    &.linkflickr{
      background: url(../assets/images/ab-linkdot.png) no-repeat;
      &:hover{
        background: url(../assets/images/ab-linkdot.png) no-repeat;
      }
    } 
    &.linkskype{
      background: url(../assets/images/ab-skype.png) no-repeat;
       &:hover{
        background: url(../assets/images/ab-skype.png) no-repeat;
      }
    }   
  }
  .aboutPage ul.socialAbout li a{
    width: 49px;
    height: 49px;
    margin-right:10px; 
  }
   .contactPage .content-area div.areaRow span.lb{
    font-size: 12px;
  }
  #home-primary {
    background-position: 0 -65px !important;
  }
}
