@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .home .slide-text .txt-home{
    font-size: 60px;
  }
  .home #home-primary .slide-text{
    width: 635px;
  }
  .home .slide-text{
    width: 55%;
  }
}

@media only screen and (min-height: 768px) and (max-height: 1000px) {
  body #home-primary{
    background-size: 170%!important;
  }
}
@media only screen and (min-height: 1000px) and (max-height: 2400px) {
  body #home-primary{
    background-size: 123%!important;
  }
}