#sidr-container {
	position: relative;
}

.sidr { 
	display: none;
	position: absolute;
	position: fixed; 
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 40%;
	overflow-x: none;
	overflow-y: auto;
	background: #000;
	color: #fff;
	padding-top: 122px;
	text-align: center;
}

.sidr-logo {
	text-align: center;
	margin: 0 0 40px;
}
.sidr-logo img {
	margin: 0 auto;
}
.sidr-logo a {
	border: 0;
	margin: 0;
}

.sidr .sidr-inner {
	padding: 0 0 15px;
}

.sidr .sidr-inner > p {
	margin-left: 15px;
	margin-right: 15px;
}

.sidr.right {
	left: auto;
	right: -40%;
}

.sidr.left { 
	left: -260px;
	right: auto
}

.sidr ul {
	display: block;
	padding: 0;
}

.sidr ul li { 
	display: block;
}
.sidr ul li a.current-menu-parent {
	color: #fff;
	text-decoration: underline;
}
.sidr .copy {
	color: #797979;
}
