
/*----------------------------------------------------------------------------*
  * General Options
  *----------------------------------------------------------------------------*/

  .site-branding {
    margin-top: 30px;
  }

  /*----------------------------------------------------------------------------*
  * Color Options
  *----------------------------------------------------------------------------*/
  a:hover,
  a:focus,
  a:active,
  .main-navigation ul li a:hover,
  .main-navigation ul li.current-menu-item a,
  .main-navigation ul li.current-menu-parent a,
  .contact-icon,
  .dribbble-line-icon,
  .tweet-line-icon,
  #credits a:hover,
  .site-main [class*="navigation"] a:hover,
  .service .the-icon {
    color: #58e8a0;
  }

  a.tweet-user:hover  {
    color: #58e8a0 !important;
  }

  a,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus,
  #footer input[type="text"]:focus,
  #footer input[type="email"]:focus,
  #footer input[type="url"]:focus,
  #footer input[type="password"]:focus,
  #footer input[type="search"]:focus,
  #footer textarea:focus {
    border-color: #58e8a0;
  }

  button:hover,
  html input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .tagcloud a:hover,
  #footer .tagcloud a:hover,
  .portfolio-thumb-overlay,
  .flex-control-paging li a.flex-active,
  .flex-control-paging li a.flex-active:hover {
    background: #58e8a0;
  }


  .single-portfolio-nav{
    .link{
      a{
        border: 0;
      }
    }
  }
.page-blog{
 .page-header{
   text-align: center;
 } 
}

.wpcf7 span[role="alert"]{
  color:red;
  display: block;
  padding-top: 3px;
}
.wpcf7 .screen-reader-response{
  display: none;
}
#services .service{
  width: 50%;
  padding: 0;
  &.hasImg{
    padding:0;
    
  }
}
.page-title{
  margin-bottom: 0;
  p{
    margin-bottom: 1px;
  }
}
a.simple-menu{
  padding-right: 56px;
  color: #000;
  background-position: right center;
  font-size: 19px;
  text-transform: uppercase;
}
.registerPage{
  table{
    tr{
      td{
        padding-bottom: 10px;  
      }
      
    }
  }
}
#sidebar{
  position: relative;
  padding: 5% 3%;
  .bgwhite{
    background: #fff;
    position: absolute;
    height: 130%;
    width: 100%;
    margin-left: -11%;
    z-index: 0;
  }
  .contactDetail{
    position: relative;
    .row{
      padding-bottom: 28px;
    }
    h3{
      margin-bottom: 0;
      color: #666;
      font-size: 18px;
      font-family: 'Rokkitt', serif;
      line-height: 17px;
      letter-spacing: 0px;
    }
  }
}
#footer{
  position: relative;
}
.contactPage{
  .content-area{
    h4{
      font-size: 18px;
      text-transform: none;
      font-family: 'Rokkitt', serif;
      letter-spacing: 0;
      margin-bottom: 0;
    }
    .col-1{
      float: left;
      width: 47%;
      margin-right: 4.5%;
      input[type="text"]{
        width: 95%;
      }
    }
    .col-2{
      float: left;
      width: 47%;
      input{
        width: 95%;
      }
    }
  }
}

