
/*----------------------------------------------------------------------------*
  * General Options
  *----------------------------------------------------------------------------*/

  .site-branding {
    margin-top: 30px;
  }

  /*----------------------------------------------------------------------------*
  * Color Options
  *----------------------------------------------------------------------------*/
  a:hover,
  a:focus,
  a:active,
  .main-navigation ul li a:hover,
  .main-navigation ul li.current-menu-item a,
  .main-navigation ul li.current-menu-parent a,
  .contact-icon,
  .dribbble-line-icon,
  .tweet-line-icon,
  #credits a:hover,
  .site-main [class*="navigation"] a:hover,
  .service .the-icon {
    color: #58e8a0;
  }

  a.tweet-user:hover  {
    color: #58e8a0 !important;
  }

  a,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus,
  #footer input[type="text"]:focus,
  #footer input[type="email"]:focus,
  #footer input[type="url"]:focus,
  #footer input[type="password"]:focus,
  #footer input[type="search"]:focus,
  #footer textarea:focus {
    border-color: #58e8a0;
  }

  button:hover,
  html input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .tagcloud a:hover,
  #footer .tagcloud a:hover,
  .portfolio-thumb-overlay,
  .flex-control-paging li a.flex-active,
  .flex-control-paging li a.flex-active:hover {
    background: #58e8a0;
  }


  .single-portfolio-nav{
    .link{
      a{
        border: 0;
      }
    }
  }
