
/*----------------------------------------------------------------------------*
  * General Options
  *----------------------------------------------------------------------------*/

  .site-branding {
    margin-top: 22px;
  }

  /*----------------------------------------------------------------------------*
  * Color Options
  *----------------------------------------------------------------------------*/
  a:hover,
  a:focus,
  a:active,
  .main-navigation ul li a:hover,
  .main-navigation ul li.current-menu-item a,
  .main-navigation ul li.current-menu-parent a,
  .contact-icon,
  .dribbble-line-icon,
  .tweet-line-icon,
  #credits a:hover,
  .site-main [class*="navigation"] a:hover,
  .service .the-icon {
    color: #fff;
    outline: none;
     
  }

  a.tweet-user:hover  {
    color: #58e8a0 !important;
  }

  a,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus,
  #footer input[type="text"]:focus,
  #footer input[type="email"]:focus,
  #footer input[type="url"]:focus,
  #footer input[type="password"]:focus,
  #footer input[type="search"]:focus,
  #footer textarea:focus {
    
  }

  button:hover,
  html input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .tagcloud a:hover,
  #footer .tagcloud a:hover,
  .flex-control-paging li a.flex-active,
  .flex-control-paging li a.flex-active:hover {
    background: #000;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  .portfolio-thumb-overlay{
    background: transparent;
  }
  .portfolio-thumb-overlay h1{
    font-size: 40px;
    font-family: 'Rokkitt', serif;
    letter-spacing: 0;
  }
  .portfolio-thumb-overlay .overlays{
    background: #000;
    opacity: 0.65;
    filter: alpha(opacity=65);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .overlay-inner{
    position: relative;
  }
  .single-portfolio-nav{
    .link{
      a{
        border: 0;
      }
    }
  }
.page-blog{
 .page-header{
   text-align: center;
 } 
}
.single-portfolio-items .page-header{
  padding: 111px 5%;
  position: relative;
}
.single-portfolio-nav a{
  white-space: nowrap;
}
.single-portfolio-nav{
  position: absolute;
  right: 55px;
  bottom: 45px;
}
.single-portfolio-detail.single-right{
  .entry-content{
    a{
      color: #666;
      border: none;
      text-decoration: underline;
      &:hover{
        text-decoration: none;  
      }
    }
  }
}
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current-menu-parent a{
    text-decoration: underline;
  }
.main-navigation > ul > li > a{
  color: #ccc;
  display: inline-block;
  font-size: 28px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 0;
  &:hover{
    text-decoration: underline;
  }
 
}
.wpcf7 span[role="alert"]{
  color:red;
  display: block;
  padding-top: 3px;
}
.wpcf7 .screen-reader-response{
  display: none;
}
.aboutPage{
  background: #eee;
  a{
    color: #333;
    border: none;
    text-decoration: underline;
  }
}
#services .service{
  width: 50%;
  padding: 0;
   background: #eee;
   &.mobile{
     display: none; 
   }
  &.hasImg{
    padding:0;
    img{
      width: 100%;
    }
  }
  h3{
    font-family: 'Rokkitt', serif;
    letter-spacing: 0;
    font-size: 3.077em; 
    line-height: 0.9em;
    margin-bottom: 0.700em;
    color: #333;
    text-transform: none;
  }
  .text{
   
   
  }
  .pad{
     text-align: left;
    padding: 8%;
    p{
      padding: 0;
      padding-bottom: 1.2em;
      margin-bottom:0;
      font-size: 1.538em;
      line-height: 1.1;
      color: #666;
    }
  }
  &.service-3{
   p{ text-align: center;}
    p.line-1{
      font-size: 1.538em;
      color: #000;
    }
    span{
      display: block;
    }
    p.line-2{
      font-size: 1.538em;
      color: #666;
      a{
        color: #333;
      }
    }
  }
}
.page-title{
  margin-bottom: 0;
  p{
    margin-bottom: 1px;
  }
}
a.simple-menu{
  color: #000;
  background-position: right center;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
  }
}
.registerPage{
  table{
    tr{
      td{
        padding-bottom: 10px;  
      }
      
    }
  }
}
#footer-navigation ul li.current-menu-item a{
  color: #fff;
border-color: #fff;
}
#footer-navigation ul li a{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border: none;
  text-decoration: underline;
}
#footer-navigation ul li{
  margin-right: 23px;
  margin-left: 10px;
}
.copy{
  padding-top: 5px;
}
.portfolio-thumb-overlay h1{
  color: #ccc;
}
.home {
  .slide-text{
    width: 50%;
    .txt-home{
      font-family: 'Rokkitt', serif;
      font-size: 72px;
      color: #333333;
      letter-spacing: 0;
      line-height: 58px;
      
    }
    .workfor{
      width: 450px;
      .txt{
         font-family: 'Rokkitt', serif;
         font-size: 32px;
         color: #333333;
         padding-top: 35px;
         padding-bottom: 10px;
      }
      ul{
        list-style-type:none;
        li{
          float: left;  
          margin-right: 22px;
          padding: 0;
          margin-bottom: 0;
          a{
            text-decoration: none;
            border: none;
          }
        }
      }
    }
  }
  #home-primary{
    .slide-text{
      background: transparent;
      padding: 9% 8% 18%;
    }
  }
}
#portfolio .portfolio-items{
  .portfolio-thumb{
    .portfolio-thumb-overlay{
      display: block;
      .overlay-inner{
        display: none;
      }
       .overlays{
         transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
           opacity: 0;
          filter:alpha(opacity=0);
       }
    }
  }
  .portfolio-thumb:hover{
    .portfolio-thumb-overlay{
      .overlay-inner{
        display: table;
      }
      .overlays{
        display: block;
        opacity: 0.69;
        filter:alpha(opacity=69%);
      }
      
    }
  }
}
#sidebar{
  position: relative;
  padding: 5.5% 3%;
  .bgwhite{
    background: #fff;
    position: absolute;
    height: 130%;
    width: 100%;
    margin-left: -11%;
    z-index: 0;
  }
  .contactDetail{
    position: relative;
    .row{
      padding-bottom: 22px;
    }
    h3{
      margin-bottom: 0;
      color: #666;
      font-size: 20px;
      font-family: 'Rokkitt', serif;
      line-height: 17px;
      letter-spacing: 0px;
    }
    a{
      color: #333;
      border: none;
      font-size: 20px;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    span{
      color: #333;
      font-size: 20px;
    }
    .rowSocial{
      ul{
        list-style-type:none;
        padding-top: 9px;
        li{
          display: inline-block;
          margin-right: 4px;
          a{
            width: 32px;
            height: 32px;
            display: block;
             transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
            &.linkv{
              background: url(../assets/images/link-v.png) no-repeat;
              &:hover{
                background: url(../assets/images/link-v-hover.png) no-repeat;
              }
            }
            &.linkbe{
              background: url(../assets/images/link-be.png) no-repeat;
              &:hover{
                background: url(../assets/images/link-be-hover.png) no-repeat;
              }
            } 
            &.linkin{
              background: url(../assets/images/link-in.png) no-repeat;
               &:hover{
                background: url(../assets/images/link-in-hover.png) no-repeat;
              }
            } 
            &.linkflickr{
              background: url(../assets/images/link-dot.png) no-repeat;
              &:hover{
                background: url(../assets/images/link-dot-hover.png) no-repeat;
              }
            } 
            &.linkskype{
              background: url(../assets/images/link-skype.png) no-repeat;
               &:hover{
                background: url(../assets/images/link-skype-hover.png) no-repeat;
              }
            }   
          }
          
        }
      }
    }
  }
}
#footer{
  position: relative;
}
.contactPage{
  .content-area{
    h4{
      font-size: 20px;
      text-transform: none;
      font-family: 'Rokkitt', serif;
      letter-spacing: 0;
      margin-bottom: 0;
      color: #333;
    }
    p{
      font-size: 20px;
      line-height: 23px;
    }
    .row{
      margin-bottom: 22px;
    }
    .rowSubmit{
      padding-top: 30px;
    }
    .wpcf7{
      padding-top: 8px;
    }
    span.lb{
      text-transform: uppercase;
      font-size: 20px;
      padding-bottom: 3px;
    }
    span.star{
      font-size: 13px;
      top: -5px;
      position: relative;
    }
    .col-1{
      float: left;
      width: 47%;
      margin-right: 4.5%;
      input[type="text"]{
        width: 95%;
        outline: none;
      }
    }
    .col-2{
      float: left;
      width: 47%;
      input{
        width: 95%;
        outline: none;
      }
    }
    textarea{
      margin-top: 3px;
      outline: none;
    }
  }
  p.areaRow{
    margin-bottom: 28px;
  }
  input[type="submit"]{
    font-size: 20px;
    font-family: 'Rokkitt', serif;
    background: url(../assets/images/arr.png) no-repeat 22px center #333;
    color: #fff;
    text-transform: uppercase;
     padding: 0 22px 0 40px;
     line-height: 48px;
  }
}
#services .service.hasImg.mobile{
  display: none;
}
.aboutPage{
  ul.socialAbout{
    list-style-type:none;
    padding-top: 0;
    display: table;
    margin: -5px auto;
    li{
      display: inline-block;
      margin-right: 4px;
      a{
        width: 32px;
        height: 32px;
        display: block;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        &.linkv{
          background: url(../assets/images/link-v.png) no-repeat;
          &:hover{
            background: url(../assets/images/link-v-hover.png) no-repeat;
          }
        }
        &.linkbe{
          background: url(../assets/images/link-be.png) no-repeat;
          &:hover{
            background: url(../assets/images/link-be-hover.png) no-repeat;
          }
        } 
        &.linkin{
          background: url(../assets/images/link-in.png) no-repeat;
           &:hover{
            background: url(../assets/images/link-in-hover.png) no-repeat;
          }
        } 
        &.linkflickr{
          background: url(../assets/images/link-dot.png) no-repeat;
          &:hover{
            background: url(../assets/images/link-dot-hover.png) no-repeat;
          }
        } 
        &.linkskype{
          background: url(../assets/images/link-skype.png) no-repeat;
           &:hover{
            background: url(../assets/images/link-skype-hover.png) no-repeat;
          }
        }   
      }
      
    }
  }
}
.main-navigation ul li{
  margin-bottom: 30px;
}
.single-portfolio-nav .prev-project{
  margin-right: 90px;
}
