
a, .logo-text:hover, .post-title a:hover, .filter-area .active:after, .comment-author a:hover {
	color: #58cb8e
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .post-more:hover, .post-tags a:hover {
	background-color: #58cb8e
}
.post-tags a:hover:before {
	border-right-color: #58cb8e
}
.loader-mark {
	border-top-color: #58cb8e
}
.post-thumbnail-inner a:after, .project-thumbnail a:after {
	background: linear-gradient(#58cb8e, #bbf496)
}

.fluid-width-video-wrapper {
	width: 100%;
	position: relative;
	padding: 0;
}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fancybox-margin {
	margin-right: 17px;
}
.page-header{
	
}
.gallery-item .gallery-icon{
	text-align: center;
}
.contact-area input[type="text"], .contact-area input[type="email"]{
	width: 100%;
}
.page-sidebar .widget-title{
	margin-bottom: 15px;
}
.site-logo{
	display: inline-block;
	
	a{
		
		img{
			width: 100%;
		}
	}
}


#aboutPage .service{
  width: 50%;
  padding: 0;
   background: #eee;
   float: left;
}
#aboutPage .service.mobile{
 display: none; 
}
#aboutPage .service.hasImg{
	padding:0;
	img{
	  width: 100%;
	}
}
#aboutPage .service h3{
    letter-spacing: 0;
    font-size: 3.077em;
	line-height: 0.9em;
    margin-bottom: 0.9em;
    color: #333;
    text-transform: none;
}
  
#aboutPage .service .pad{
     text-align: left;
    padding: 8%;
}
#aboutPage .service p{
      font-weight: 400;
      padding: 0;
      padding-bottom: 1.2em;
      margin-bottom:0;
      font-size: 1.538em;
      line-height: 1.1;
      color: #666;
}
 
#aboutPage .service.service-3 p{
	text-align: center;
}
#aboutPage .service.service-3 p.line-1{
      font-size: 1.538em;
      color: #000;
      font-style: italic;
}
#aboutPage .service.service-3 span{
      display: block;
}
#aboutPage .service.service-3 p.line-2{
      font-size: 1.538em;
      color: #666;
}
#aboutPage .service.service-3 a{
        color: #333;
}
.aboutPage ul.socialAbout {
	list-style-type: none;
	padding-top: 0;
	display: table;
	margin: -5px auto;
}
.aboutPage ul.socialAbout li {
	display: inline-block;
	margin-right: 0.615em;
}
.aboutPage ul.socialAbout li a {
	width: 3.769em;
	height: 3.769em;
	display: block;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	background-size: cover !important;
	padding: 0;
}
.aboutPage ul.socialAbout li a.linkin {
	background: url(../images/ab-linkin.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkin:hover {
	background: url(../images/ab-linkin-hover.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkbe {
	background: url(../images/ab-linkbe.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkbe:hover {
	background: url(../images/ab-linkbe-hover.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkflickr {
	background: url(../images/ab-linkdot.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkflickr:hover {
	background: url(../images/ab-linkdot-hover.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkv {
	background: url(../images/ab-linkv.png) no-repeat;
}
.aboutPage ul.socialAbout li a.linkv:hover{
	background: url(../images/ab-linkv-hover.png) no-repeat;
}
.gestaltenBox, .indexbookBox{
	display: none;
}


@media only screen and (max-width: 980px){
	#aboutPage .service h3{
		font-size: 26px;
	}
	#aboutPage .service p,
	#aboutPage .service.service-3 p.line-1,
	#aboutPage .service.service-3 p.line-2{
		font-size: 16px;
	}
	.aboutPage ul.socialAbout li a{
		width: 37px;
		height: 37px;
	}
	#aboutPage .service{
		width: 100%;
		height: auto!important;
	}
	#aboutPage .service .alignleft{
		margin:0;
	}
	#aboutPage .service.mobile{
		display: block;
	}
	#aboutPage .service .pad{
		padding: 8% 8% 2% 8%;
	}
	#aboutPage  #service_text_mobile_1 .pad{
		padding-top: 0;
	}
	#aboutPage .service.service-3 .pad{
		padding-top: 0;
		padding-bottom: 4%;
	}
	.h6Client{
		padding-top: 25px;
		clear: both;
	}
	#aboutPage .service.hasImg.normal{
		display: none;
	}
}
